<h1>Listing fortunes</h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fortunes.each do |fortune| %>
  <tr>
    <td><%= fortune.text %></td>
    <td><%= link_to 'Show', fortune %></td>
    <td><%= link_to 'Edit', edit_fortune_path(fortune) %></td>
    <td><%= link_to 'Destroy', fortune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fortune', new_fortune_path %>
